.searchContainer {
  display: flex;
  height: 90vh;
  overflow-y: hidden;
}

.searchFormContent {
  flex: 1.05;
  /* border-right: 1px solid white; */
  height: 100%;
  overflow-x: hidden;
}

.searchForm {
  position: relative;
  transform: translate(1.2em, 1.5em);
  width: 280px;
}

.searchInput {
  width: 100%;
  height: 10px;
  padding: 10px 20px;
  font-size: 12px;
  background-color: rgb(102, 102, 102);
  color: #fff;
  border: none;
  border-radius: 2px;
  outline: none;
}

.searchIcons {
  color: white;
  position: absolute;
  top: 0.4em;
  right: -2.3em;
  font-size: 1em;
  background: none;
  border: none;
}

.searchContent {
  flex: 3;
  display: flex;
  flex-wrap: wrap;
}

.RelatedSearch {
  transform: translate(1.5em, 2em);
  color: #fff;
}

.relatedSearchText {
  width: 70%;
  font-size: 14px;
  display: block;
  cursor: pointer;
}

.relatedSearchText:hover {
  color: red;
}

.searchContent {
  margin: 1em;
  /* height: 100vh; */
  overflow-y: scroll;
}

.searchMain {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  margin: 1.2em;
}

.searchMain img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}

.searchMain p {
  color: #fff;
  text-align: center;
  margin-top: 0.5em;
  padding-bottom: 0.2em;
  border-bottom: 1px solid red;
}

.searchLink {
  text-decoration: none;
  height: 100%;
}
